* {
	box-sizing: border-box;
	margin:0;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	background: url('images/mobile-background.jpg') no-repeat;
	background-color: #070606;
	background-width:100%;
	font-family: 'Shadows Into Light', cursive;
	color: white;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 0.75em;
}

.hidden {
	display: none;
}

#modal {
	width: 70%;
	height: 55%;
	margin-top: 100px;
	margin-left: 15%;
	position: fixed;
	z-index: 3;
	background-color: white;
	color: black;
  }
  
  #modal h2 {
	background-color: grey;
	color: white;
	margin-top: 0;
	height: 50px;
	padding: 10px;
  }
  
  #modal p {
	text-align: justify;
	padding: 40px 35px 10px 35px;
  }
  
  #close {
	display: block;
	margin-left: 75%;
	margin-top: 15%;
	padding: 8px;
	border: 1px solid gray;
	background-color: white;
	color: grey;
  }
.beer-stuff {
	display: inline-block;
	width: 28%;
	float: right;
	margin-right: 15%;	
}

.food-stuff {
	display: inline-block;
	width: 28%;
	margin-left: 10%;
	float: left;
}


#choice-form {
	width: 100%;
	margin-top: 10%;
	margin-left:10%;	
}

.btn {
	padding: 7px;
	margin-right: 10px;
	margin-bottom: 3px;
	border: 3px dashed white;
	background-color: transparent;
	color: white;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.2em;
}

.food-stuff img {
	margin-top: 20%;
	width: 100px;
}

.beer-stuff img {
	width: 100px;
}

.beer-style {
	display: inline;
}

a:link {
	color: goldenrod;
	font-size: 1em;
}

@media screen and (min-width: 480px) {
	body {
	background: url('images/background.png') no-repeat;
	background-size: cover;
	background-color: #070606;22
	}

	.btn:hover {
	background-color: #424c57;
	}

	.food-stuff img {
	margin-top: 0;
	width: 300px;
	}

	.beer-stuff img {
	width: 175px;
	}

	.beer-descr {
		font-size: 1.15em;
	}

	h2 {
	font-size: 2em;
	margin-bottom: 0;
	}

	h3 {
	font-size: 1.75em;
	}

	a:link {
	color: goldenrod;
	font-size: 1.45em;
	}
	#modal {
		width: 60%;
		height: 30%;
		margin-top: 100px;
	  }
	
	  #modal h2 {
		margin-top: 0;
		height: 50px;
		padding: 10px;
	  }
	
	  #modal p {
		padding: 40px 35px 10px 35px;
	  }
	  #close { 
		margin-top: 20px;
	  }
}